config setup
  uniqueids = yes

conn ios_ikev2
    keyexchange=ikev2
    ike=aes256-sha256-modp2048,3des-sha1-modp2048,aes256-sha1-modp2048!
    esp=aes256-sha256,3des-sha1,aes256-sha1!
    rekey=no
    left=%defaultroute
    leftid={{ vpn_liftid }}
    leftsendcert=always
    leftsubnet={{ client_tunnel_range | default('0.0.0.0/0')}}
    leftcert={{install_dir}}/strongswan-{{strongswan_version}}/etc/ipsec.d/certs/server.cert.pem
    right=%any
    rightauth={{ client_auth | default('eap-mschapv2') }}
    rightsourceip={{ client_dhcp_ip }}
    rightdns={{ client_dhcp_dns }}
    rightsendcert=never
    eap_identity=%any
    dpdaction=clear
    fragmentation=yes
    auto=add
